<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="commonOnLoadJs">
    <script src="/js/plugins/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/plugins/main.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</span>
</html>